<div class="posts list-group">
  {{#each posts}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
    <a
      class="list-item flex-row justify-space-between"
      href="/dashboard/edit/{{id}}"
    >
      <h2><span>{{title}}</span></h2>
      </a>
      <div>
      <span>{{format_date createdAt}}</span>
      </div>
    
    <br>
    </div>
    </article>
    <br>
  {{/each}}
</div>